.volume-de-paiements-body {
  padding: 1px;
}
.billers-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.background {
  background-color: rgb(226, 226, 226);
}
.left {
  color: black;
  width: 60vw;
  background-color: white;
  height: 40vh;
  width: 50vw;
}
.left-head {
  font-size: large;
  text-align: center;
  color: rgb(185, 185, 185);
}
.volume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 13vh;
  width: 80vw;
  margin-top: 30px;
}

.left-side {
  width: 20%;
  height: 100%;
  background-color: rgb(168, 64, 168);
}
.right-side {
  /* background-color: white; */
  font-size: small;
  margin-left: 2%;
}
.volume-content {
  display: flex;
  flex-direction: row;
  height: 74%;
  width: 80%;
  background-color: white;
  margin-left: 1%;
}
.box {
  background-color: rgb(168, 64, 168);
}
.content-heading {
  font-size: small;
}
b {
  font-size: large;
}
.moyens-de-paiement {
  height: 26vh;
  width: 26vw;
  background-color: white;
  text-align: right;
}

.volume-de-paiements-head {
  background-color: white;
  height: 50vh;
  width: 50vw;
  margin-left: 1%;
  text-align: right;
  padding: 8px;
}
.menu {
  text-align: right;
  margin-left: 48vw;
}

/* right */
.right-top {
  width: 26vw;
  height: 37vh;
  background-color: white;
  font-size: 13px;
}
.right-close {
  text-align: right;
  background-color: white;
}
.right-close {
  text-align: right;
  background-color: white;
}
table {
  border: 0;
  height: 67%;
  width: 96%;
  text-align: center;
  margin-left: 2%;
  margin-bottom: 8%;
  padding: 7px;
  background-color: rgb(201, 201, 201);
}
.table-heading {
  background-color: rgb(168, 64, 168);
  color: white;
  height: 8vh;
}
.right-close-bottom {
  text-align: right;
  background-color: white;
}

.menu-bottom {
  margin-left: 24.4vw;
}
.moyens-head {
  text-align: center;
}

@media (min-width: 100px) and (max-width: 900px) {
  .left-side {
    width: 50%;
    height: 100%;
    background-color: rgb(168, 64, 168);
  }
  .volume-content {
    display: flex;
    flex-direction: row;
    height: 30% !important;
    width: 100% !important;
    background-color: white;
    margin-left: 4%;
  }
  .content-heading {
    font-size: -20px !important;
  }
  .volume {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    width: 50vw;
  }
  /*  */

  .volume-de-paiements-head {
    background-color: white;
    height: 50px;
    width: 26vw;
    margin-left: 1%;
    text-align: right;
  }
  .right-top {
    width: 50vw;
    height: 50vh;
    background-color: white;
    font-size: 10px;
  }
  .right-close {
    text-align: right;
  }
  table {
    border: 0;
    height: 25%;
    width: 80%;
  }
  .moyens {
    width: 50vw;
    height: 30vh;
    background-color: white;
    font-size: 13px;
  }
  .menu-bottom {
    margin-left: 42.4vw;
  }
  .moyens-head {
    text-align: center;
  }
  .right {
    width: 60vw;
  }

  .right-top {
    width: 20vw;
    height: 30vh;
    background-color: white;
    font-size: 13px;
  }
  .right-close {
    text-align: right;
    background-color: white;
  }
  .right-close {
    text-align: right;
    background-color: white;
  }
  table {
    border: 0;
    height: 67%;
    width: 70%;
    text-align: center;
    margin-left: 2%;
    margin-bottom: 8%;
    padding: 1px;
    background-color: rgb(201, 201, 201);
  }
  .table-heading {
    background-color: rgb(168, 64, 168);
    color: white;
    height: 4vh;
    width: 10vw;
  }
  .right-close-bottom {
    text-align: right;
    background-color: white;
  }

  .menu-bottom {
    margin-left: 24.4vw;
  }
  .moyens-head {
    text-align: center;
  }
  .billers-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
